body{
	font-family:'Open Sans',sans-serif;
}

.highlightWords{
	width:15%;
	float:left;
	margin:1% 0%;
	position:fixed;
	-webkit-box-shadow: 0 2px 3px #666;
  -moz-box-shadow: 0 2px 3px #666;
  box-shadow: 0 2px 3px #666;
  padding:2%;
}


#contentHolder{
	width:70%;
	float:right;
	margin:1% 3%;
	border:1px solid #cccccc;
	padding:2%;
}

.highlight{
	background-color: #1246D6;
	font-family:'Open Sans',sans-serif;
	color:#ffffff;
	border:0px;
	border-radius:5px;
	padding:5px;
	margin:2px;
	cursor:pointer;
	
}

.dropdownLabel{
	padding: 5px;
	font-size:13px; 
	text-decoration:underline; 
	font-weight:bold;
	line-height:30px;
}